################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPTtoRDL Backend/RptToXmlService/.vs/RptToXmlService/FileContentIndex/1494d007-9c7b-4d90-80f1-aa1390486aaf.vsidx
/RPTtoRDL Backend/RptToXmlService/.vs/RptToXmlService/v17
/RPTtoRDL Backend/RptToXmlService/.vs/RptToXmlService/FileContentIndex
